$mainAppFontFamily: 'Nunito', sans-serif;
$quoteFontSize: 28px;
$authorFontSize: $quoteFontSize - 5px;
$dateFontSize: $quoteFontSize - 10px;

$mainAppColor: #f3f3f3;
$secondAppColor: #747474;
$backgroundAppColor: #313131;
$appBlockBorderRadius: 5px;
